/* adição das fontes adicionadas */

@font-face {
    font-family: "AVENGEANCE\ HEROIC\ AVENGER";
    src: url("../fontes/AVENGEANCE\ HEROIC\ AVENGER.ttf");
}

.fonte {
    font-family: "AVENGEANCE\ HEROIC\ AVENGER";
}

.cor1 {
    color: rgb(66, 80, 204);
    font-size: 1.2em;
}

.cor2 {
    color: white;
    font-size: 1.2em;
}