/* início da formatação do header */
    .cabeçalho {
        background-color: black;
        padding: 1.2%;
        width: 100%;
        display: flex;
    }

    .div-logo {
        width: 75%;
    }

    .div-link-logo {
        width: fit-content;
    }

    .div-logo a {
        text-decoration: none;
    }

    .div-span:hover .cor1 {
        color: yellow;
    }

    .div-span:hover .cor2 {
        color: red;
    }

    .div-navegação {
        width: 25%;
    }
/* fim da formatação do header */

/* início da formatação da section de apresentação (página inicial) */

/* fim da formatação da section de apresentação (página inicial) */

/* início da formatação do footer */

/* fim da formatação do footer */