/* início da formatação do header */
    .cabeçalho {
        background-color: black;
        padding: 1.2%;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid red;
    }

    .div-logo {
        width: 60%;
    }

    .div-link-logo {
        width: fit-content;
    }

    .div-logo a {
        text-decoration: none;
        text-shadow:1px 1px red;
    }

    .div-span {
        font-size: 1.4em;
    }

    .div-span:hover .cor1 {
        color: white;
    }

    .div-span:hover .cor2 {
        color: rgb(66, 80, 204);
    }

    .div-navegação {
        width: 40%;
    }

    .link-item a {
        color: rgb(66, 80, 204);
        font-size: 1.7em;
        margin-left: 40px;
        text-shadow:0.5px 0.5px red;
    }

    .link-item a:hover {
        color: white;
    }
/* fim da formatação do header */




/* início da formatação da section de apresentação (página inicial) */
    .section-apresentacao {
        background-image: url("../imagens_e_gifs/gif.gif");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: fixed;
    }

    .apresentação h1 {
        margin-top: 17%;
    }
/* fim da formatação da section de apresentação (página inicial) */




/* início da formatação do footer */

/* fim da formatação do footer */