/* início da formatação do fundo da página */
    html {
        overflow-x: hidden;
    }
/* fim da formatação do fundo da página */



/* início da formatação do header */
    .cabeçalho {
        background-color: black;
        padding: 1.2%;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid red;
        position: fixed;
    }

    .div-logo {
        width: 60%;
    }

    .div-link-logo {
        width: fit-content;
    }

    .div-logo a {
        text-decoration: none;
        text-shadow:1px 1px red;
    }

    .div-span {
        font-size: 1.4em;
    }

    .div-span:hover .cor1 {
        color: white;
    }

    .div-span:hover .cor2 {
        color: rgb(66, 80, 204);
    }

    .div-navegação {
        width: 40%;
    }

    .link-item a {
        color: rgb(66, 80, 204);
        font-size: 1.7em;
        margin-left: 40px;
        text-shadow:0.5px 0.5px red;
    }

    .link-item a:hover {
        color: white;
    }
/* fim da formatação do header */




/* início da formatação da section de ingressos (página ingresso)*/
    .section-ingresso {
        background-image: url("../imagens_e_gifs/fundo-ingressos.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .div-ingresso {
        display: flex;
        flex-direction: column;
        margin-left: 7%;
        height: 100%;
        width: 90%;
    }

    .titulo-ingresso {
        color: white;
        margin-top: 18%;
        font-size: 3.5em;
        text-shadow: 1px 1px red;
    }

    .div-filme-ingresso {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 15%;
        width: 100%;
        height: 100%;
    }

    .div-area-filmes {
        display: flex;
        flex-direction: row;
        margin-top: 10%;
        margin-bottom: 3%;
        height: 100%;
    }

    .div-banner {
        border-radius: 15px;
        padding: 2%;
        background-color: white;
        width: 65%;
        height: 100%;
    }

    .div-banner h2 {
        color: rgb(66, 80, 204);
        text-shadow: 1px 1px rgb(194, 133, 21);
    }

    .tamanho-imagem img {
        height: 50%;
        border-radius: 15px;
    }

    .divisao-botao {
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
    }

    .divisao-botao button {
        font-size: 1.4em;
        color: rgb(66, 80, 204);
    }

    .div-disponibilidade {
        margin-left: 1%;
        border-radius: 15px;
        padding: 1%;
        background-color: white;
        display: none;
        width: 100%;
    }

    .div-display-itens {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 1%;
    }

    .div-fecha-bloco {
        width:fit-content;
        margin-left: 94.9%;
    }

    .div-fecha-bloco span:hover {
        cursor: pointer;
    }

    .display-compra {
        display: flex;
        flex-direction: column;
    }

    .display-compra h3 {
        color: rgb(66, 80, 204);
        text-shadow: 1px 1px rgb(240, 224, 53);
    }

    .display-poltronas {
        border: 1px solid red;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .poltrona-itens {
        border: 3px solid red;
        border-radius: 15px;
        padding: 4%;
        font-size: 2em;
        color: rgb(66, 80, 204);
    }

    .poltrona-itens:hover {
        cursor: pointer;
        border-color: rgb(66, 80, 204);
        color: white;
        background-color: red;
        text-align: center;
    }

    #display-pagamento {
        border: 1px solid black;
        margin-top: 3%;
        width: 100%;
        height: 100%;
        padding: 2%;
        display: flex;
    }

    #display-mensagem {
        width: 50%;
        font-size: 1.5em;
        color: rgb(66, 80, 204);
        text-shadow: 1px 1px rgb(240, 224, 53);
    }

    #display-preco {
        font-size: 1.5em;
        color: rgb(236, 59, 59);
        text-shadow: 1px 1px rgb(126, 118, 39);
    }
/* fim da formatação da section de ingressos (página ingresso)*/


/* início da formatação do footer */
    footer {
        background-color: black;
        border-top: 1px solid red;
        padding: 2%;
        display: flex;
        flex-direction: column;
    }

    .div-footer-titulo {
        width: fit-content;
        margin-left: 41%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .div-footer-titulo a {
        text-decoration: none;
        text-shadow: 0.5px 0.5px red;
    }

    .div-footer-titulo:hover .cor1 {
        color: white;
    }

    .div-footer-titulo:hover .cor2 {
        color: rgb(66, 80, 204);
    }

    .div-footer-autor {
        margin-left: 32%;
        margin-top: 0.1%;
        margin-bottom: 1%;
        text-shadow: 0.1px 0.1px red;
        color: rgb(66, 80, 204);
    }

    .div-icones {
        margin-left: 33.2%;
    }

    .div-icones i {
        font-size: 3em;
        margin-left: 5%;
        color: white;
        text-shadow: 1px 2px red;
    }

    .div-icones i:hover {
        cursor: pointer;
        color: rgb(66, 80, 204);
    }
/* fim da formatação do footer */